* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #1b1a17;
}
.navbar-brand {
	margin-bottom: 0;
}

.ime {
	color: #ff8303;
	padding-top: 250px;
}

.svetliText,
.svetliParagraf {
	color: #f0e3ca;
}

.desnaStrana {
	padding-top: 200px;
	padding-left: 200px;
}

.desnaStrana img {
	border-radius: 50px 150px 50px 50px;
	width: 200px;
}

.aboutme {
	display: flex;
	padding-top: 100px;
	flex-direction: row;
	gap: 50px;
	justify-content: center;
	align-items: center;
	font-family: "Inconsolata", monospace;
	font-weight: 400;
}

.aboutme p {
	color: #f0e3ca;
	text-align: center;
}

.mySkills {
	padding-bottom: 50px;
	padding-top: 50px;
	text-align: center;
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
}

.box1,
.box2,
.box3,
.box4 {
	width: 150px;
	height: 200px;
	background-color: #21201d;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.logo {
	color: #f0e3ca;
}

.mySkills h3 {
	color: #f0e3ca;
	padding-top: 10px;
	font-family: "Inconsolata", monospace;
}

.fa-html5:hover {
	color: #fc490b;
}

.fa-css3-alt:hover {
	color: #ffdf00;
}

.fa-square-js:hover {
	color: #3757f7;
}

.fa-github:hover {
	color: #ffff;
}

.mojRad {
	color: #ff8303;
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
}

.myWorks {
	font-family: "Inconsolata", monospace;
	font-size: 32px;
	font-weight: 700;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.line {
	background-color: #ff8303;
	margin: 20px;
}

.triBoxa {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.boxA,
.boxB {
	width: 320px;
	height: 360px;
	text-align: center;
	margin-bottom: 50px;
	padding-top: 20px;
	background-color: rgba(33, 32, 29, 0.8);
	border-radius: 10px;
}

.boxC img {
	width: 300px;
}

.noviBlog {
	color: #ff8303;
	font-size: 32px;
	font-weight: 700;
	padding-bottom: 20px;
}

h6 {
	color: #f0e3ca;
	font-size: 16px;
	font-weight: 500;
}

.paragrafA {
	color: #f0e3ca;
	font-weight: 400;
	font-size: 16px;
	text-align: start;
	padding: 20px;
}

.image img {
	width: 50%;
}

button h6 {
	color: #f0e3ca;
	background-color: #1b1a17;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
}

button h6:hover {
	background-color: #32312e;
}
